@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
}

body {
	font-family: "Montserrat", sans-serif;
}

#root {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
}

.container {
	max-width: 1440px;
	padding: 0 20px;
	margin: 0 auto;
}
